<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Empleados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
          crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand" style="background-color: #c1d6fa;">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{'/'}">
          <img th:src="@{/travel_trip_logo.png}" style="width: 40px;">
          Recursos Humanos - TravelTrip
        </a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" th:href="@{'/empleados'}">Empleados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{'/historial'}">Historial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" th:href="@{'/reportes'}">Reportes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div style="text-align: center;"><h1>Reporte - Sueldos</h1></div>
      <div class="alert alert-success" role="alert" th:if="${msg!=null}" th:text="${msg}">
        A simple primary alert—check it out!
      </div>
      <div class="alert alert-danger" role="alert" th:if="${err!=null}" th:text="${err}">
        A simple primary alert—check it out!
      </div>
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Puesto</th>
          <th>Salario Máximo</th>
          <th>Salario Mínimo</th>
          <th>Salario Total</th>
          <th>Salario Promedio</th>
        </tr>
        <tr th:each="sueldo, obj: ${sueldos}">
          <td th:text="${obj.index + 1}"> </td>
          <td th:text="${sueldo.getPuesto()}"></td>
          <td th:text="'$'+${sueldo.getMaximo()}"></td>
          <td th:text="'$'+${sueldo.getMinimo()}"></td>
          <td th:text="'$'+${sueldo.getSuma()}"></td>
          <td th:text="'$'+${sueldo.getPromedio()}"></td>
        </tr>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
  </body>
</html>
</title>
</head>
<body>

</body>
</html>